.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70vh;
  width: 100%;
  color: black;
  background-position: center;
  background-size: cover;
  background-image: url(./cubes_2.jpg);
}

.App-title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  color: black;
  padding-left: 150px;
  padding-top: 170px;
}

.App-title1{
  font-size: 5em;
  font-weight: 600;
}

.App-content{
  display: flex;
  flex-direction: row;
}

.App-raven{
  position: relative;
  margin-left: 280px;
  padding-top: 220px;
  transform: rotate(-10deg);
  transform: scale(1.2);
 
  
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
